@import '~bootstrap/scss/bootstrap';


.logs-page {
  color: rgb(0,0,0);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  position: fixed;
  text-align: center;
  top: 50%;
}

.log-page {
  color: rgb(0,0,0);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-align: center;
}

.create {
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(0,0,0);
  text-align: center;
}

.event-update {
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(0,0,0);
  text-align: center;
}

ul {
  list-style-type: none;
}
